In [1]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 5
generator = square_root_generator(limit)

sum = 0
for sqrt_value in generator:
    sum += sqrt_value
print(sum)

8.382332347441762

In [2]:
def square_root_generator(limit):
    n = 1
    while n <= limit:
        yield n ** 0.5
        n += 1

# Example usage:
limit = 13
generator = square_root_generator(limit)

sum = 0
for sqrt_value in generator:
    print(sqrt_value)

1.0
1.4142135623730951
1.7320508075688772
2.0
2.23606797749979
2.449489742783178
2.6457513110645907
2.8284271247461903
3.0
3.1622776601683795
3.3166247903554
3.4641016151377544
3.605551275463989

In [15]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}

# data = []
# for person in people_1():
#     data.append(person)


def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}

data = []
for person in people_2():
    data.append(person)

In [2]:
import dlt

In [8]:
pipeline = dlt.pipeline(pipeline_name="user_data_ex",
						destination='duckdb', 
						dataset_name='user_data_example')

# run the pipeline with default settings, and capture the outcome
info = pipeline.run(data, 
                    table_name="users", 
                    write_disposition="append")

In [9]:
print(info)

Pipeline user_data_ex load step completed in 0.29 seconds
1 load package(s) were loaded to destination duckdb and into dataset user_data_example
The duckdb destination used duckdb:////home/henson/dataengineering/notebooks/user_data_ex.duckdb location to store data
Load package 1707449386.603296 is LOADED and contains no failed jobs

In [5]:
import duckdb
# duckdb.sql("SELECT * from system.information_schema.tables").show()
con = duckdb.connect("user_data_ex.duckdb")

In [21]:
con.sql("select sum(age) from user_data_example.users_new")

┌──────────┐
│ sum(age) │
│  int128  │
├──────────┤
│      266 │
└──────────┘

In [19]:
pipeline = dlt.pipeline(pipeline_name="user_data_ex",
						destination='duckdb', 
						dataset_name='user_data_example')

# run the pipeline with default settings, and capture the outcome
info = pipeline.run(data, 
                    table_name="users_new", 
                    write_disposition="merge",
                    primary_key="id")